- var locals = locals || htmlWebpackPlugin.options.title
- var author = locals.author
- var description = locals.description
- var keywords = locals.keywords
- var title = locals.title
- var version = locals.version

doctype html
html(lang="zh-cn" xml:lang="zh-cn")
  head
    title
      block title
        = title
    meta(charset="utf-8")
    meta(name="author" content!=author)
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    meta(name="renderer" content="webkit")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-touch-fullscreen" content="yes")
    meta(name="format-detection" content="telephone=no,email=no")
    block css
      link(rel="stylesheet" type="text/css" href=`./css/common.css`)
  body(ontouchstart)
    #app(is="app")
      block content
    script(type="text/javascript" src=`./plugins/vue/vue.min.js`)
    script(type="text/javascript" src=`./plugins/vue-router/vue-router.min.js`)
    script(type="text/javascript" src=`./plugins/vuex/vuex.min.js`)
    block js
      script(type="text/javascript" src=`./js/common.js`)
