extends layouts/application.layout.pug

append title
  = ' - Page list'

append css
  link(rel="stylesheet", type="text/css", href=`./css/index.css`)

append js
  script(type="text/javascript", src=`./js/index.js`)

block content
  ol
    li: a(href="vue.html" target="_blank") Vue
    li: a(href="react.html" target="_blank") React
